*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(2, 48, 0);
}


.texts{
   background-color: rgb(255, 255, 255);  
   height: 20rem;
   max-width: 39rem;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin: 3rem auto;
   border-radius: 1rem;
   border: 0.3rem rgb(250, 192, 0) inset;
}

.texts h1 {
    color: rgb(0, 66, 6);
    text-shadow: 0.01rem 0.08rem 0.1rem   rgb(155, 132, 0);
    font-size: 2rem;
}