@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;     
}
body{
    font-family: 'Open Sans',sans-serif; 
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 120rem;
    margin:  0 auto;
    background-color: black;
   }
    
a{
    text-decoration: none;
}
p{
   padding: 1.5rem;
   text-indent:3rem
}

 h1, h2, h3, h4, h5, h6{
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-indent:2rem
 }
 h1{
    font-size: 5rem;
 }
 h2{
    font-size: 4rem;
 }
 h3{
    font-size: 3.5rem;
 }
 h4{
    font-size: 3rem;
 }
 h5{
    font-size: 2.5rem;
 }
 h6{
    font-size: 2rem;
 }
 .mobile-menu{
   display: none;
 }
 .menu{
    background-color: rgb(0, 49, 92);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 0.16rem solid rgb(177, 177, 177); 
    z-index: 1;
 }
 .menu h1{
   font-size: 2.5rem;
 }
 .menu ul{
   list-style: none;
   display:flex;
 }
 .menu h1 a{
    color: antiquewhite; 
     padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;  
 }
 .menu ul li a{
    display: block;
    color: antiquewhite;   
    position: relative;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0; 
 }
 .menu ul li a::after{
    content: '';
    position: absolute;
    bottom:-0.2rem;
    left:50%;
    height: 0.32rem;
    width: 0;
    background-color: rgb(255, 251, 0);
    transition: all 380ms ease-in-out;
 }
 .menu ul li a:hover::after{
    width: 50%;
    background-color: rgb(83, 245, 245);
    left: 25%;
    opacity: 0.75;
 }
 .menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center; 

 }
 
 .main-content{
    max-width: 120rem;
    margin:  0 auto;
 }
 .sectionpage-white{
    background-color: white;
    color:  rgb(0, 49, 92);
 }
 .sectionpage-darkBlue{
   color: whitesmoke;
   background-color:rgb(0, 49, 92);
 }
 #containerpage{
   max-width: 96rem;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   justify-content: center;
 }
 #page1{
   padding-top: 5rem;;
   height: 100vh;
   background-image: url(../img/totoro4.jpg);
   background-size: cover;
   background-position: center center;

 }
 #page1 img{
   height: 100%;
   width: 96rem;
   z-index: -9;
 }
 .page1content{
   display: grid;
   grid-template-rows: 0.2fr 1fr;
   width: 67%;
 }
 #page2{
   height: 100vh;
   background-color: white;
   color: rgb(12, 1, 75); 
   width: 100%;
   padding: 5rem 9rem;
 }
 #page2 h2{margin-bottom: 2rem;}

 .page2content{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr );
   gap: 1rem;
   width: 100%;
   height: 100%;

 }
 .gridimages { 
   width: 100%;
   height: auto;
   max-width: 25rem;
   max-height: 36rem;
   overflow: hidden;
   border-radius: 12px;
   box-shadow: 0px 90px 177px 10px rgb(0, 0, 0);
}
 .gridimages img{ 
   transition: 800ms cubic-bezier(0.02, 0.51, 0.1, 0.6);
 }
 .gridimages img:hover{
   transform: translate(-3%,-9%) scale(1.2) rotate(2deg);
}


 #page3{
   padding-top: 5rem;;
   height: 100vh;
   background-image: url(../img/totoro3.jpeg);
   background-size: cover;
   background-position: center center;
   color: rgb(253, 245, 199);
 }
 #page3 img{
   height: 100%;
   width: 96rem;
   z-index: -9;
 }
 .page3content{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 0.2rem;
   overflow-x: auto;
   counter-reset: gridcounter;
   max-height: 92%;
 }
 .page3content p{
   position: relative;
 }
 .page3content p::before{
   position: absolute;
   top: -1rem;
   left: -1rem;
   counter-increment: gridcounter;
   content: counter(gridcounter);
   color: white;
   font-size: 3.5rem;
   transform: rotate(11deg);
   padding-right: 1rem;
 }
 #page4{
   padding-top: 5rem;
   height: 100vh;
   background-image: url(../img/totoro5.jpg);
   background-size: cover;
   background-position: center center;
}
#page4 img{
   height: 100%;
  width: 96rem;
  z-index: -9;
 }

 .page4content{   
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 0.2fr 
 }
 #page5{
   height: 100vh;
   width: 100%;
   padding: 5rem 9rem;
height: 72%;


 }
 .page5content{
   grid-column: span 2;

 }
 .page5content .form-grid{
   border: none;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 1.2rem;
 }
 .form-group{
   flex: 1 1 36rem;
 }
 .form-group label{
   display: block; 
   padding-left: 1rem;
}
 .legend{
   margin: 2rem;
}
 .form-group input,
 .form-group textarea{
   border: none;
   border-radius: 10px;   
   padding: 1rem 3.6rem;
   font-size: 1.1rem;
   color: rgb(2, 50, 105);
   padding: 0.9rem;
 }
 .form-group textarea{
   width: 100%;
 }
 .form-group button{
   width: 8rem;
   height: 3rem;
   border-radius: 10px;
   border: solid 2px rgb(100, 184, 3);
   background: none;
   transition: all 300ms ease-in-out;
   color: white;
   font-size: 1.1rem;
   font-weight: 700;
   margin-left: 1rem;
   margin-top: 1rem;
 }
 .form-group button:hover{
   background-color: forestgreen;
   cursor: alias ;
 }
 .footer{
   color: white;
   text-align: center; 
   height: 100%;
   height: 10rem;
   font-family: "Philosopher", sans-serif;
}
.footer span{
   color: red;
}
.footer .crown{
   color: rgb(95, 91, 91);
}

.back-to-top{
   position: fixed;
   bottom: 2rem;
   right: 1.4rem;
   width: 3rem;
   height: 3rem;
   display: flex;
   justify-content:center;
   align-content: center;
   align-items: center;
   padding-bottom: 0.5rem;
   background-color: antiquewhite;
   color: rgb(0, 49, 92);
   border-radius: 50%;
   border: 0.2rem solid rgb(0, 49, 92);
   transform: rotate(90deg);
   font-size: 2rem;
}
@media (max-width:760px){

  
   .menu{
      text-align: center;
      bottom: 0;
   }   
   
   .menu-content{
     height: 100vh;
   }
   .menu{
      display: none;
   }
   
   .menu-content, .menu-content ul{
     flex-direction: column;
     margin-top: 2rem;
     justify-content: center;
   }
   .menu-content, .main-content ul li{
     margin-top: 1.5rem;
   }

   .mobile-menu:checked~.menu{
      display: block;
      background-color: rgba(27, 20, 39, 0.973);

   }

   .mobile-menu-label::after{
      content: "☲";
      color: antiquewhite;
      background-color:rgba(0, 49, 92, 0.664);
      border-radius: 10px;
      padding: 0.15rem;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      z-index: 5;
      top: 2rem;
      right: 1.4rem;
      font-size: 2rem;
      cursor: pointer;
   }

   .mobile-menu:checked~.mobile-menu-label::after{
      content: "x";
   }

   .sectionpage-white, .sectionpage-darkBlue{
     overflow: auto;
   }
 
   
   .page1content{
      grid-template-columns:1fr;

   }
   #page2{
   width: 100%;
   height: 100%;
   padding: 1rem;

   }
   .page2content{
      grid-template-columns:1fr;
      width: 100%;
   }
   .gridimages {
      width: 100%;
      height: 100%;
   }
   .gridimages img{
      width: 100%;
      height: 100%;      
   }
   .page3content{
      grid-template-columns:1fr;
      gap: 2rem;
      width: 100%;
   }

   

}