*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(2, 48, 0);
}


.texts{
   background-color: rgb(255, 255, 255);  
   height: 20rem;
   max-width: 39rem;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin: 3rem auto;
   border-radius: 1rem;
   border: 0.3rem rgb(250, 192, 0) inset;
}

.texts h1 {
    color: rgb(0, 66, 6);
    text-shadow: 0.01rem 0.08rem 0.1rem   rgb(155, 132, 0);
    font-size: 4rem;
}

.texts .redcolor {
    color: rgb(243, 0, 0);   
}
.texts .botoes  {
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: center;
    width: 100%;
    height: 4.8rem;
}
.texts .botoes button {
    color: rgb(0, 66, 6);
    text-shadow: 0.1rem 0.08rem 0.1rem   rgb(155, 132, 0);
    font-size: 2rem;
    padding: 0.4rem;
    margin-right: 0.85rem;
    border-radius: 0.53rem;
    transition: 300ms ease-in-out;
    border: 0.12em rgb(206, 206, 206) ridge;
    background-color: rgb(253, 251, 231);
}
.texts .botoes .btnStart:hover {
    background-color: rgb(0, 132, 255);
}

.texts .botoes  .btnPause:hover{
    background-color: rgb(255, 60, 0);
}

.texts .botoes .btnReset:hover {
    background-color: rgb(87, 87, 87);
}
.texts .botoes button:hover {
    color: rgb(255, 255, 255);

}
