* {
  padding: 0;
  margin: 0;
  background-color: rgb(88, 87, 87);
  color: beige;
}
p {
  text-indent: 40px;
}
.link1 {
  color: orange;
  font-size: larger;
  transition: all 300ms ease-in-out;
}
.link1:hover {
  background-color: rgba(228, 138, 3, 0.892);
  color: rgb(0, 1, 1);
  text-decoration: none;
}
a:link {
  color: rgb(4, 182, 111); /*Links nao visitados*/
}
.link1:visited {
  color: rgb(141, 0, 122);
}
input:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(0, 176, 246);
}
input:checked {
  width: 30px;
  height: 30px;
}
/* input:checked + p {
  background: cyan;
}
input:not(:checked) + p {
  background: red;
} */
